@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {

    /* Custom scrollbar styles */
    .custom-scrollbar::-webkit-scrollbar {
        width: 5px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        border-radius: 9999px;
        background-color: #f3f4f6;
        /* bg-gray-100 */
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 9999px;
        background-color: #d1d5db;
        /* bg-gray-300 */
    }

    /* Dark mode styles */
    @media (prefers-color-scheme: dark) {
        .custom-scrollbar::-webkit-scrollbar-track {
            background-color: #374151;
            /* bg-neutral-700 */
        }

        .custom-scrollbar::-webkit-scrollbar-thumb {
            background-color: #6b7280;
            /* bg-neutral-500 */
        }
    }

}